/* All styles for your Card Components live here */

.CardContainer {
    margin: 0 auto;
    max-width: 550px;
}

.CardBanner {
    max-width: 500px;
    /* margin-left: 10%; */
}

.CardContent {
    margin-left: 3%;
}

h3 {
    margin-bottom: 0px;
}

.CardContent p {
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: .9rem;
}

.website {
    margin-top: 5px;
    color: #8D9AA4;
    font-size: .9rem;
}

        

