/* All styles for your header Components live here */

.HeaderContainer {
    margin: 0 auto;
    max-width: 550px;
    box-sizing: border-box;
}

.ImageThumbnail {
    width: 50px;
    /* height: 100px; */
    /* object-fit: contain; */
    /* float: left;
    margin-top: 6px;
    margin-left: -35px;
    position: absolute; */
    border: 1px solid red;
}

.Logo {
    width: 50px;
    object-fit: contain;
}

h2 {
    font-size: 1.0rem;
    margin-bottom: 0px;
}

.h1 {
    margin-bottom: 0px;
    font-size: 1.2rem;
}

span {
    margin-bottom: 0px;
    font-size: 1.0rem;
    margin-left: 2%;
    color: #8D9AA4;
    /* margin-right: -85% */
}

h3 {
    margin-bottom: 0px;
    color: #8D9AA4;
    align-content: baseline;
}

.Lambda-Image {
    display: flex;
}

.HeaderTitle {
    /* display: flex; */
    width: 100%;
    font-size: .7rem;
    align-items: baseline;
    border: 1px solid green;
}

.Content p {
    margin-top: 5px;
    font-size: .9rem;
}

.Content {
    margin-left: 1%
}

/* .header-content {
    position: absolute;
    margin-top: 2%;
    margin-left: 4%;
} */

/* .ImageThumbnail {
    float: left;
    margin-top: 87px;
    margin-left: -58px;
    position: absolute;
} */

.header-content {
    border: 1px solid black;
}

/* .HeaderTitle {
    //display: -ms-flexbox;
    display: flex;
    width: 55%;
    font-size: .7rem;
    //-ms-flex-align: baseline;
    align-items: baseline;
    border: 1px solid green;
    margin-left: 12%; */

/* .ImageThumbnail, .HeaderTitle {
    display: flex;
} */

.top-title {
    display: flex;
}

.name {
    color: black;
    font-size: 1.2rem;
}

.header-content {
    width: 100%;
    margin-left: 10%;
}